<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container" id="top">

<header>
  <!-- <%- include('../partials/header'); %> -->
  <link rel="stylesheet" href="css/base.css">  
   <link rel="stylesheet" href="css/main.css">
   <link rel="stylesheet" href="css/vendor.css">   
</header>
<section id="intro">   

  <div class="intro-overlay"></div>	

  <div class="intro-content">
    <div class="row">

      <div class="col-twelve">

        <!-- <h5>Hello</h5> -->
        <h1>Mosaic Created</h1>
     
        <h4>Here you go</h4>
        <p><img src="<%= data %>" alt="Mosaic" height="500px" width="500px"></p>


      </div>  
      
    </div>  
    		 		
  </div>
  <ul class="intro-social">        
    <li><a href="https://github.com/duttrohan0302/mosaic"><i class="fa fa-github"></i></a></li>
 </ul>  

</section> 

</body>

</html>